<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- cameras  -->
	<gazebo reference='cam_1_link'>
		<sensor type="camera" name="cam_1_link">
		<update_rate>30.0</update_rate>
		<camera name="cam_1_link">
			<horizontal_fov>1.5707</horizontal_fov>
			<image>
			<width>1080</width>
			<height>1920</height>
			<format>R8G8B8</format>
			</image>
			<clip>
			<near>0.02</near>
			<far>300</far>
			</clip>
			<noise>
			<type>gaussian</type>
			<!-- Noise is sampled independently per pixel on each frame.
				That pixel's noise value is added to each of its color
				channels, which at that point lie in the range [0,1]. -->
			<mean>0.0</mean>
			<stddev>0.007</stddev>
			</noise>
		</camera>
		<plugin name="camera_1_controller" filename="libgazebo_ros_camera.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>0.0</updateRate>
			<cameraName>cam_1_link</cameraName>
			<imageTopicName>image_raw</imageTopicName>
			<cameraInfoTopicName>camera_info</cameraInfoTopicName>
			<frameName>uoz_bot/camera_1</frameName>
			<hackBaseline>0.07</hackBaseline>
			<distortionK1>0.0</distortionK1>
			<distortionK2>0.0</distortionK2>
			<distortionK3>0.0</distortionK3>
			<distortionT1>0.0</distortionT1>
			<distortionT2>0.0</distortionT2>
		</plugin>
		</sensor>
	</gazebo>

	<gazebo reference='cam_2_link'>
		<sensor type="camera" name="cam_2_link">
		<update_rate>30.0</update_rate>
		<camera name="cam_2_link">
			<horizontal_fov>1.5707</horizontal_fov>
			<image>
			<width>1080</width>
			<height>1920</height>
			<format>R8G8B8</format>
			</image>
			<clip>
			<near>0.02</near>
			<far>300</far>
			</clip>
			<noise>
			<type>gaussian</type>
			<!-- Noise is sampled independently per pixel on each frame.
				That pixel's noise value is added to each of its color
				channels, which at that point lie in the range [0,1]. -->
			<mean>0.0</mean>
			<stddev>0.007</stddev>
			</noise>
		</camera>
		<plugin name="camera_2_controller" filename="libgazebo_ros_camera.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>0.0</updateRate>
			<cameraName>cam_2_link</cameraName>
			<imageTopicName>image_raw</imageTopicName>
			<cameraInfoTopicName>camera_info</cameraInfoTopicName>
			<frameName>uoz_bot/camera_2</frameName>
			<hackBaseline>0.07</hackBaseline>
			<distortionK1>0.0</distortionK1>
			<distortionK2>0.0</distortionK2>
			<distortionK3>0.0</distortionK3>
			<distortionT1>0.0</distortionT1>
			<distortionT2>0.0</distortionT2>
		</plugin>
		</sensor>
	</gazebo>

	<!-- holonomic control gazebo -->
	<gazebo>
		<plugin name="holonomic_control" filename="libgazebo_ros_planar_move.so">
      		<commandTopic>cmd_vel</commandTopic>
      		<odometryTopic>odom</odometryTopic>
      		<odometryFrame>odom</odometryFrame>
      		<odometryRate>20.0</odometryRate>
      		<robotBaseFrame>base_link</robotBaseFrame>
			<publishTF>true</publishTF>
    	</plugin>
  	</gazebo>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find holonomic)/config/mycobot_280_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
